h5py==3.6.0
KDEpy==1.1.0
matplotlib==3.4.3
numpy==1.22.2
openpyxl==3.0.9
pandas==1.4.1
pytest==7.0.1
requests==2.27.1
scipy==1.8.0
tensorflow==2.8.0
tensorflow_datasets==4.5.2
tensorflow_gpu==2.8.0
tensorflow_probability==0.16.0
